.App {
  font-family: sans-serif;
  text-align: center;
  background-color: #a0c008;
  
}
button {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  color: white;
  background-color: green;
  margin: 19px;
  border: 3px solid white;
  padding: 15px;
  border-radius: 20px;
}

.reset {
  background-color: red;
}

button:hover {
  border: 3px solid rgb(52, 65, 51);
  background-color: rgb(197, 162, 5);
}
.timer {
  display: flex;
  align-content: flex-end;
  align-items: flex-start;
  padding: 20px;
  background-color: rgb(209, 224, 135);
}
